# Backend env
PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/task_management_system
JWT_SECRET=replace_with_strong_secret
CLIENT_ORIGIN=http://localhost:3000
NODE_ENV=development

# Frontend env
NEXT_PUBLIC_API_URL=http://localhost:5001
